.health,
.sanity,
.presence {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border-radius: var(--rounded);
  width: calc(2.2 * var(--card-text-size, var(--text-sm)));
  height: calc(2.2 * var(--card-text-size, var(--text-sm)));
}

.health {
  background-color: #ad1a23; /* normal red */
  color: #8b151c; /* dark red */
}

.sanity {
  background-color: #579dab; /* dark blue/teal */
  color: #6dacad; /* normal blue/teal for progress */
}

.presence {
  background-color: #4e2342;
  color: #6f3a62;
}

.icon-base {
  position: relative;
  font-size: calc(1.5 * var(--card-text-size, var(--text-sm)));
  z-index: 2;
}

.presence-icon {
  position: relative;
  width: calc(1.65 * var(--card-text-size, var(--text-sm)));
  height: calc(1.65 * var(--card-text-size, var(--text-sm)));
  fill: currentColor;
  z-index: 2;
}

.icon-background {
  display: none;
}

.icon-cost {
  font-size: 1.1em;
  color: var(--white);
  font-weight: 600;
  font-family: "Hypatia Sans Pro", sans-serif;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  line-height: 1;

  /** Chrome < 123 has a bug with paint-order, but lists is as supported. We use a feature with similar browser support as proxy check */
  @supports (text-wrap-style: balance) {
    -webkit-text-fill-color: var(--white);
    -webkit-text-stroke: 1.5px #000;
    color: currentColor;
    paint-order: stroke fill;
  }
}

.icon-content {
  display: inline-flex;
  align-items: baseline;
  justify-content: center;
  gap: 0.02em;
  z-index: 3;
}

.icon-cost-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: grid;
  place-items: center;
  grid-auto-flow: column;
  z-index: 3;
  transform: translateY(0.08em);
}

.icon-ranger {
  font-size: 1.2em;
  color: var(--white);
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  transform: translateY(0.03em);

  @supports (text-wrap-style: balance) {
    -webkit-text-fill-color: var(--white);
    -webkit-text-stroke: 1px #000;
    color: currentColor;
    paint-order: stroke fill;
  }
}

.icon-per-ranger {
  font-size: 0.65em;
  color: var(--white);
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  transform: translateY(0.12em);

  /** Chrome < 123 has a bug with paint-order, but lists is as supported. We use a feature with similar browser support as proxy check */
  @supports (text-wrap-style: balance) {
    -webkit-text-fill-color: var(--white);
    -webkit-text-stroke: 1px #000;
    color: currentColor;
    paint-order: stroke fill;
  }
}
