.icon {
  position: relative;
  width: 1em;
  height: 1em;

  display: inline-block;
  border-radius: var(--rounded);
}

.icon.exploration {
  color: var(--color-exploration);
}

.icon.conflict {
  color: var(--color-conflict);
}

.icon.connection {
  color: var(--color-connection);
}

.icon.reason {
  color: var(--color-reason);
}

.icon > * {
  position: absolute;
  top: 0;
  left: 0;
}

.inverted {
  color: var(--color-inverted);
}
