.status-pill {
  display: inline-flex;
  align-items: center;
  gap: 0.375rem;
  background: var(--palette-point-five);
  padding: 0.25rem 0.375rem;
  border-radius: var(--rounded);
}

.icon {
  color: var(--status-pill-color, currentColor);
  display: inline-flex;
}
