.status-bubble {
  top: -0.125rem;
  right: -0.125rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 0.75rem;
  height: 0.75rem;
  background: var(--nord-11);
  color: var(--palette-0);
  border-radius: 100%;
  padding: 1px;
  position: absolute;
}

.status-bubble.success {
  background: var(--nord-14);
}

.status-bubble.loading {
  background: var(--nord-10);
  animation: pulse 1.25s ease-in-out infinite;
}

.status-bubble.warning {
  background: var(--nord-13);
  color: var(--nord-0);
}

.status-bubble.error {
  background: var(--nord-11);
}

.status-bubble svg {
  width: 1em;
  height: 1em;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 0.45;
  }

  50% {
    opacity: 1;
  }
}
